PORT=5000
FRONTEND_ORIGIN=http://localhost:5173
MONGO_URI=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SESSION_SECRET=
CSRF_SECRET=
CSRF_COOKIE_NAME=aico.x-csrf-token
SESSION_TIMEOUT_MS=7200000
SESSION_COOKIE_NAME=aico.sid
NODE_ENV=development
