PORT=4001

# Same Atlas URI as the main project
MONGO_URI=mongodb://fareedsheikh2060_db_user:TM6hq0rHqP4GyhCu@ac-2pxdjcg-shard-00-00.ghv3gpg.mongodb.net:27017,ac-2pxdjcg-shard-00-01.ghv3gpg.mongodb.net:27017,ac-2pxdjcg-shard-00-02.ghv3gpg.mongodb.net:27017/?replicaSet=atlas-7hiqit-shard-0&ssl=true&authSource=admin

AI_BACKEND_URL=http://127.0.0.1:8000

# Synced SESSION_SECRET from the main project 
SESSION_SECRET=aHmedSalman12379127380114ADdfsc830812083021803809128309AHmedSalman1237912738012830812083021803809128309AH

# Your React frontend URL
CLIENT_ORIGIN=http://localhost:5173

# Free Google STUN server for WebRTC (Sprint 1)
STUN_URLS=stun:stun.l.google.com:19302



LIVEKIT_URL=wss://smart-classroom-x64i9653.livekit.cloud
LIVEKIT_API_KEY=API2vVXvVmvUyWD
LIVEKIT_API_SECRET=IBBKEFEI8y2K4DWS2KIW10OgA3ZbGedDsAmZZTMegZd
VOICE_SERVICE_SECRET=aHmedSalman12379127380114ADdfsc830812083021803809128309AHmedSalman1237912738012830812083021803809128309AH